---
version: 2
interactions:
    - id: 1
      request:
        host: krdict.korean.go.kr
        body: ""
        form: {}
        headers: {}
        url: https://krdict.korean.go.kr/api/search?sort=popular&translated=y&trans_lang=1&key=REDACTED&q=%EC%95%88%EB%85%95%ED%95%98%EC%84%B8%EC%9A%94
        method: GET
      response:
        body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n\n<channel>\n\t<title>한국어 기초사전 개발 지원(Open API) - 사전 검색</title>\n\t<link>https://krdict.korean.go.kr</link>\n\t<description>한국어 기초사전 개발 지원(Open API) - 사전 검색 결과</description>\n\t<lastBuildDate>20230508062116</lastBuildDate> \n\t<total>0</total>\n\t<start>1</start>\n\t<num>10</num>\n\t\n\t\n\t\n</channel>\n\n\n\n"
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.276667041s
