---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://krdict.korean.go.kr/api/search?sort=popular&translated=y&trans_lang=1&q=%EA%B0%80%EB%8B%A4&key=REDACTED
    method: GET
  response:
    body: "\r\n\r\n\r\n\r\n\r\n\r\n\r\n<channel>\r\n\t<title>한국어 기초사전 개발 지원(Open API)
      - 사전 검색</title>\r\n\t<link>https://krdict.korean.go.kr</link>\r\n\t<description>한국어
      기초사전 개발 지원(Open API) - 사전 검색 결과</description>\r\n\t<lastBuildDate>20210726134116</lastBuildDate>
      \r\n\t<total>81</total>\r\n\t<start>1</start>\r\n\t<num>10</num>\r\n\t\r\n\t\r\n\t\r\n\t<item>\r\n\t\t\r\n\t\t\r\n\t\t<target_code>27500</target_code>\r\n\t\t<word>가다</word>\r\n\t\t<sup_no>1</sup_no>\r\n\t\t\r\n\t\t\r\n\t\t<pronunciation>가다</pronunciation>\r\n\t\t\r\n\t\t\r\n\t\t<word_grade>초급</word_grade>\r\n\t\t\r\n\t\t<pos>동사</pos>\r\n\t\t<link>https://krdict.korean.go.kr/dicSearch/SearchView?ParaWordNo=27500</link>\r\n\t\t\r\n\t\t\r\n\t\t<sense>\r\n\t\t\t<sense_order>1</sense_order>\r\n\t\t\t<definition>한
      곳에서 다른 곳으로 장소를 이동하다.</definition>\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t<translation>\r\n\t\t\t\t<trans_lang>\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t영어\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t</trans_lang>\r\n\t\t\t\t<trans_word><![CDATA[go;
      travel]]></trans_word>\r\n\t\t\t\t<trans_dfn><![CDATA[To move from one place
      to another place.]]></trans_dfn>\r\n\t\t\t</translation>\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t[...]
