---
version: 2
interactions:
    - id: 0
      request:
        host: naveropenapi.apigw.ntruss.com
        body: '{"source":"ko","target":"en","text":"한 송이 꽃을 피우려 작은 두 눈에 얼마나 많은 비가 내렸을까"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://naveropenapi.apigw.ntruss.com/nmt/v1/translation
        method: POST
      response:
        body: '{"message":{"result":{"srcLangType":"ko","tarLangType":"en","translatedText":"How much rain would have fallen in my two small eyes to bloom"}}}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ncp-Apigw-Response-Origin:
                - ENDPOINT
            X-Quota:
                - "34"
        status: 200 OK
        code: 200
        duration: 1.105291916s
